import the module

Open a connection to the database

Sending and receiving commands

Closing the connection to SQL

In order to connect Python to a database you need a driver, which is a library used to Interact with the database.
For MySQL database, you have such 3 Driver choices:

    MySQL/connector for Python

    MySQLdb

    PyMySQL

    Driver	Discription

    MySQL/Connector for Python	This is a library provided by the MySQL community.

    MySQLdb	MySQLdb is a library that connects to MySQL from Python, it is written in C language and it is free and open source software.

    PyMySQL	This is a library that connects to MySQL from Python and it is a pure Python library. PyMySQL's goal is to replace MySQLdb and work on CPython, PyPy and IronPython.

https://www.sqlalchemy.org/

In [ ]:
pip install sqlalchemy
pip install PyMySQL
pip install mysql-connector-python

![](pyhton_database.jpg)

In [19]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

# Obtain connection string information from the portal
config = {
  'host':'cloudapp.azure.com',
  'user':'',
  'password':'',
  'database':''
}

# Construct connection string
try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()

  # Drop previous table of same name if one exists
  cursor.execute("DROP TABLE IF EXISTS z_previous_dna_dashboard1;")
  print("Finished dropping previous table .")
    
  #cursor.execute("create table previous_dna_dashboard1 as select * from dna_dashboard1;")
  print("Finished moving current to previous")
     
  # Drop previous table of same name if one exists
  cursor.execute("DROP TABLE IF EXISTS z_dna_dashboard2;")
  print("Finished dropping current table .")

  # Create table
  cursor.execute("CREATE TABLE z_dna_dashboard2 (id serial PRIMARY KEY, name VARCHAR(50), quantity INTEGER);")
  print("Finished creating table.")

  # Insert some data into table
  cursor.execute("INSERT INTO z_dna_dashboard2 (name, quantity) VALUES (%s, %s);", ("banana", 150))
  print("Inserted",cursor.rowcount,"row(s) of data.")
  cursor.execute("INSERT INTO z_dna_dashboard2 (name, quantity) VALUES (%s, %s);", ("orange", 154))
  print("Inserted",cursor.rowcount,"row(s) of data.")
  cursor.execute("INSERT INTO z_dna_dashboard2 (name, quantity) VALUES (%s, %s);", ("apple", 100))
  print("Inserted",cursor.rowcount,"row(s) of data.")
  cursor.execute("INSERT INTO z_dna_dashboard2 (name, quantity) VALUES (%s, %s);", ("banana", 151))
  print("Inserted",cursor.rowcount,"row(s) of data.")
  cursor.execute("INSERT INTO z_dna_dashboard2 (name, quantity) VALUES (%s, %s);", ("orange", 152))
  print("Inserted",cursor.rowcount,"row(s) of data.")
  cursor.execute("INSERT INTO z_dna_dashboard2 (name, quantity) VALUES (%s, %s);", ("apple", 101))
  print("Inserted",cursor.rowcount,"row(s) of data.")

Connection established
Finished dropping previous table .
Finished moving current to previous
Finished dropping current table .
Finished creating table.
Inserted 1 row(s) of data.
Inserted 1 row(s) of data.
Inserted 1 row(s) of data.
Inserted 1 row(s) of data.
Inserted 1 row(s) of data.
Inserted 1 row(s) of data.

In [44]:
#FETCHONE()
import mysql.connector
from mysql.connector import Error
try:
    connection = mysql.connector.connect(host='cloudapp.azure.com',
                             database='dna_db_test',
                             user='',
                             password='')
    if connection.is_connected():
       db_Info = connection.get_server_info()
       print("Connected to MySQL database... MySQL Server version on ",db_Info)
       cursor = connection.cursor()
       cursor.execute("select database();")
       record = cursor.fetchone()
       print ("Your connected to - ", record)
except Error as e :
    print ("Error while connecting to MySQL", e)
finally:
    #closing database connection.
    if(connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Error while connecting to MySQL 1045 (28000): Access denied for user 'dna_user'@'52.172.0.175' (using password: YES)

In [45]:
##FETCHMANY()
import mysql.connector
from mysql.connector import errorcode

# Obtain connection string information from the portal
config = {
  'host':'cloudapp.azure.com',
  'user':'',
  'password':'',
  'database':'dna_db'
}

# Construct connection string
try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()

  """sql_select_Query = "select * from inventory_prev"
  cursor = conn.cursor(buffered=True) #need to set buffered=True to avoid MySQL Unread result error
  cursor.execute(sql_select_Query)
  fetching_size = 3
  records = cursor.fetchmany(fetching_size)
  print("Total number of rows in inventory_prev is - ", cursor.rowcount)
  print ("Printing ", fetching_size, " developer record using cursor.fetchmany")
  for row in records:
       print (row)"""

  # Drop previous table of same name if one exists
  cursor.execute("DROP TABLE IF EXISTS inventory_prev;")
  print("Finished dropping previous table .")
    
  cursor.execute("create table inventory_prev as select * from inventory;")
  print("Finished moving current to previous")
  
  sql_select_Query = "select * from inventory_prev"
  cursor = conn.cursor(buffered=True) #need to set buffered=True to avoid MySQL Unread result error
  cursor.execute(sql_select_Query)
  fetching_size = 3
  records = cursor.fetchmany(fetching_size)
  print("Total number of rows in inventory_prev is - ", cursor.rowcount)
  print ("Printing ", fetching_size, " developer record using cursor.fetchmany")
  for row in records:
       print (row)
    
  # Drop previous table of same name if one exists
  cursor.execute("DROP TABLE IF EXISTS inventory;")
  print("Finished dropping current table (if existed).")

  # Create table
  cursor.execute("CREATE TABLE inventory (id serial PRIMARY KEY, name VARCHAR(50), quantity INTEGER);")
  print("Finished creating table.")

  # Insert some data into table
  cursor.execute("INSERT INTO inventory (name, quantity) VALUES (%s, %s);", ("banana", 2000))
  print("Inserted",cursor.rowcount,"row(s) of data.")
  cursor.execute("INSERT INTO inventory (name, quantity) VALUES (%s, %s);", ("orange", 154))
  print("Inserted",cursor.rowcount,"row(s) of data.")
  cursor.execute("INSERT INTO inventory (name, quantity) VALUES (%s, %s);", ("apple", 100))
  print("Inserted",cursor.rowcount,"row(s) of data.")

  # Cleanup
  conn.commit()
  cursor.close()
  conn.close()
  print("Done.")

Something is wrong with the user name or password

In [46]:

import mysql.connector
from mysql.connector import errorcode

# Obtain connection string information from the portal
config = {
  'host':'cloudapp.azure.com',
  'user':'',
  'password':'',
  'database':'dna_db'
}

# Construct connection string
try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()

  # Drop previous table of same name if one exists
  cursor.execute("DROP TABLE IF EXISTS inventory2;")
  print("Finished dropping table (if existed).")

  # Create table
  cursor.execute("CREATE TABLE inventory2 (id serial PRIMARY KEY, name VARCHAR(50), quantity INTEGER);")
  print("Finished creating table.")

  # Insert some data into table
  cursor.execute("INSERT INTO inventory2 (name, quantity) VALUES (%s, %s);", ("banana", 150))
  print("Inserted",cursor.rowcount,"row(s) of data.")
  cursor.execute("INSERT INTO inventory2 (name, quantity) VALUES (%s, %s);", ("orange", 154))
  print("Inserted",cursor.rowcount,"row2(s) of data.")
  cursor.execute("INSERT INTO inventory2 (name, quantity) VALUES (%s, %s);", ("apple", 100))
  print("Inserted",cursor.rowcount,"row(s) of data.")

  # Cleanup
  conn.commit()
  cursor.close()
  conn.close()
  print("Done.")

Something is wrong with the user name or password

# SQLAlchemy 
is a popular SQL toolkit and Object Relational Mapper. It is written in Python and gives full power and flexibility of SQL to an application developer. It is an open source and cross-platform software released under MIT license.

SQLAlchemy is famous for its object-relational mapper (ORM), using which, classes can be mapped to the database, thereby allowing the object model and database schema to develop in a cleanly decoupled way from the beginning.

As size and performance of SQL databases start to matter, they behave less like object collections. On the other hand, as abstraction in object collections starts to matter, they behave less like tables and rows. SQLAlchemy aims to accommodate both of these principles.

In [ ]:
pip install sqlalchemy

In [23]:

import pymysql.cursors
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy.ext.declarative import declarative_base

# Connect to the database
connection = pymysql.connect(host='cloudapp.azure.com',
                             user='',
                             password='',
                             database='dna_db',
                             cursorclass=pymysql.cursors.DictCursor)

print ("OK")

OK

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy.ext.declarative import declarative_base
engine = create_engine("mysql://:@southindia.cloudapp.azure.com/dna_db?charset=utf8mb4")
con = engine.connect()

# Mysql to DataFrame

In [28]:
#Pandas extraction

query =query = "SELECT * from inventory"

df = pd.read_sql_query(query, engine)

print(df)


query1 = "SELECT count(*) as count from inventory"
df1 = pd.read_sql_query(query1, engine)
print(df1)

print(df1.dtypes)

query ='DROP TABLE IF EXISTS inventory_prev;'
result = engine.execute(query)

query ="create table inventory_prev as select * from inventory;"
result = engine.execute(query)

query1 = "SELECT count(*) as count from inventory_prev"
df1 = pd.read_sql_query(query1, engine)
print(df1)

   id    name  quantity
0   1  banana      2000
1   2  orange       154
2   3   apple       100
   count
0      3
count    int64
dtype: object
   count
0      3

In [26]:
print(df.columns)

Index(['id', 'name', 'quantity'], dtype='object')

In [27]:
print(df.head(2))

   id    name  quantity
0   1  banana      2000
1   2  orange       154

In [35]:
#SqlAlchemy extract
import sqlalchemy as db
import pandas as pd
metadata = db.MetaData()
emp = db.Table('inventory', metadata, autoload=True, autoload_with=engine)

results = con.execute(db.select([emp])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(4)

   id    name  quantity
0   1  banana      2000
1   2  orange       154
2   3   apple       100

In [5]:






import sqlalchemy as db

metadata = db.MetaData()

inventory = db.Table('inventory', metadata, autoload=True, autoload_with=engine)

#Equivalent to 'SELECT * FROM inventory'

query = db.select([inventory])

ResultProxy = con.execute(query)

ResultSet = ResultProxy.fetchall()

ResultSet[:3]

[(1, 'banana', 2000), (2, 'orange', 154), (3, 'apple', 100)]

In [31]:

query =query = "SELECT SUM(quantity)FROM inventory"

df = pd.read_sql_query(query, engine)

print(df)

   SUM(quantity)
0         2254.0

In [ ]:
SQL :
SELECT SUM(quantity)
FROM inventory

In [12]:
query=db.select([db.func.sum(inventory.columns.quantity)])

ResultProxy = con.execute(query)

ResultSet = ResultProxy.fetchall()

In [15]:
print(ResultSet)

[(Decimal('2254'),)]

In [ ]:
#To Dataframe from sql connector 
query2 = "select name, sum(quantity) from z_dna_dashboard2 group by name"
cursor.execute (query2)
#result = dict(cursor.fetchall())

result = pd.DataFrame(cursor.fetchall(),columns=['Customer','Sum'])
print(result)
  # Cleanup
conn.commit()
cursor.close()
conn.close()
print("Done.")

In [33]:
print(result)

  Customer  Sum
0   banana  301
1   orange  306
2    apple  201

In [40]:
print(result)

     name
0  banana
1  orange
2   apple

# DataFrame load to Mysql

In [39]:
             result=df
             print("Created dashboard data from current ")
    
             result.to_sql(name='z_dna_dashboard',con=con,if_exists='replace') #append
        
             query =query = "SELECT  * from z_dna_dashboard"
            
             df = pd.read_sql_query(query, engine)
                
             print(df)

Created dashboard data from current
   index    name
0      0  banana
1      1  orange
2      2   apple

In [9]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd

# Obtain connection string information from the portal
config = {
  'host':'',
  'user':'',
  'password':'r',
  'database':'dna_db'
}

# Construct connection string
try:
   conn = mysql.connector.connect(**config)
   print("Connection established")
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with the user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cursor = conn.cursor()



query2 = "select CUSTOMER, SUM(case when band LIKE 'E%' THEN FTE ELSE 0 END) AS FTE_CNT,SUM(case when band NOT LIKE 'E%' THEN FTE ELSE 0 END) AS TP_CNT from previous_dna_dashboard GROUP BY CUSTOMER "
cursor.execute (query2)
#result = dict(cursor.fetchall())

result = pd.DataFrame(cursor.fetchall(),columns=['Customer','Head_count',FTE])
print(result)

Connection established

NameError: name 'FTE' is not defined

In [41]:
#If you work under a Python 2.x version, the module MySQLdb can be used. It has to be installed.
import MySQLdb as db

HOST = ""
PORT = 3306
USER = ""
PASSWORD = ""
DB = "dna_db"

try:
    connection = db.Connection(host=HOST, port=PORT,
                               user=USER, passwd=PASSWORD, db=DB)

    dbhandler = connection.cursor()
    dbhandler.execute("SELECT * from inventory")
    result = dbhandler.fetchall()
    for item in result:
        print (item)

except Exception as e:
    print (e)

finally:
    connection.close()

(1, 'banana', 2000)
(2, 'orange', 154)
(3, 'apple', 100)