# There are several methods can be used to access Oracle database from python:

#NATIVE
Native, cx_Oracle provides a mature feature set which could be issued to access data from Oracle database from python. It is the common way used and supported by most 3rd party libraries such as SQLAlchemy, Django, and many more. https://pypi.python.org/pypi/cx_Oracle/5.2.1

#ODBC
ODBC, PyODBC does provide DBAPI interface for python to access data from Oracle database via ODBC layer, it is differ from cx_oracle, pyodbc is not limited to Oracle database, but for any database (sqlserver, db2, mysql, postgre, etc) as long there are odbc driver exists for those supposed database. For this, an appropriate odbc driver should be installed. https://pypi.python.org/pypi/pyodbc/3.0.10

#JDBC
JDBC, specifically if jython is used instead of CPython, java has jdbc feature of which this could be accessed easily from jython, one could use zxJDBC API for interfacing between python and jdbc in the same way as python DB API works, or use JayDeeBeeAPI for this purpose. JayDeBeApi 0.2.0

https://oracle.github.io/python-cx_Oracle/

# SQLAlchemy 

supports Python 2.5 through the latest 3.x versions. Other supported platforms include Jython and Pypy.

SQLAlchemy is the Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL.

 SQLAlchemy includes dialects for SQLite, Postgresql, MySQL, Oracle, MS-SQL, Firebird, Sybase and others, most of which support multiple DBAPIs.

In [ ]:
import sqlalchemy
sqlalchemy.create_engine('oracle://username:password@daIVE connection.execute("SELECT test_column FROM test_table")
for row in result:
    print row


connection.close()

# You can connect to Oracle Database using cx_Oracle in two ways: standalone and pooled connections.

The standalone connections are useful when the application has a single user session to the Oracle database while the collection pooling is critical for performance when the application often connects and disconnects from the database.

# Oracle Database
For communicating any database with our Python program, then we required some connector which is nothing but the cx_Oracle module.
https://oracle.github.io/python-cx_Oracle/

pip install cx_Oracle 

https://www.foxinfotech.in/2018/09/how-to-install-cx_oracle-for-python-on-windows.html

# Creating standalone connections
To create a standalone connection, you use the cx_Oracle.connect() method or cx_Oracle.Connection().

In [ ]:
import cx_Oracle
import config
 
connection = None
try:
    connection = cx_Oracle.connect(
        config.username,
        config.password,
        config.dsn,
        encoding=config.encoding)
 
    # show the version of the Oracle Database
    print(connection.version)
except cx_Oracle.Error as error:
    print(error)
finally:
    # release the connection
    if connection:
        connection.close()

# Creating pooled connections
The cx_Oracle‘s connection pooling allows applications to create and maintain a pool of connections to the Oracle database.

Internally, the cx_Oracle implements the connection pool using the Oracle’s session pool technology. In general, each connection in a cx_Oracle connection pool corresponds to one session in the Oracle Database.

To create pooled connections, you use the cx_Oracle.SessionPool() method.

In [ ]:
import cx_Oracle
import config
 
# Create the session pool
pool = cx_Oracle.SessionPool(
    config.username,
    config.password,
    config.database,
    min=100,
    max=100,
    increment=0,
    encoding=config.encoding
)
 
# Acquire a connection from the pool
connection = pool.acquire()
 
# Use the pooled connection
print('Using the connection')
 
# Release the connection to the pool
pool.release(connection)
 
# Close the pool
pool.close()

# use the cx_Oracle.SessionPool() method to create a connection pool.

The min and max are the read-only attributes that return the minimum and maximum number of sessions that the session pool can control.

The increment is a read-only attribute which returns the number of sessions that will be established when additional sessions need to be created.

It is a good practice to use a fixed sized pool (min and max have the same values and increment equals zero).

Third, acquire a connection from the connection pool by using the SessionPool.acquire() method.

Fourth, use the connection for executing query.

Fifth, release the connection to the pool once the connection is no longer used by using the SessionPool.release() method.

Finally, close the pool by calling the SessionPool.close() method.

# How to use this module for connection


import database specific module


Ex. import cx_Oracle


connect(): Now Establish a connection between Python program and Oracle database by using connect() function.

con = cx_Oracle.connect('username/password@localhost')

cursor(): To execute sql query and to provide result some special object required is nothing but cursor() object
cursor = cx_Oracle.cursor()


execute method :

cursor.execute(sqlquery) – – – -> to execute single query.

cursor.executemany(sqlqueries) – – – -> to execute a group of multiple sqlquery seperated by “;”


commit(): For DML(Data Manuplate Language) query in this query you have (update, insert, delete) operation we need to 

commit() then only the result reflecte in database.

Fetch(): This retrieves the next row of a query result set and returns a single sequence, or None if no more rows are available.

close(): After all done mendentory to close all operation

cursor.close()

con.close()

# To select data from the Oracle Database in a Python program, you follow these steps:

First, establish a connection to the Oracle Database using the cx_Oracle.connect() method.

Second, create a Cursor object from the Connection object using the Connection.cursor() method.

Third, execute an SQL statement to select data from one or more tables using the Cursor.execute() method.

Fourth, fetch rows using the Cursor.fetchone(), Cursor.fetchmany(), and Cursor.fetchall() methods.

Finally, release the Cursor and Connection objects using the Cursor.close() and Connection.Close() method. If you want to release the Cursor and Connection automagically, you can use the with block.

In [ ]:
# importing module 
import cx_Oracle  
 
    
  
# Create a table in Oracle database 
try: 
  
    con = cx_Oracle.connect('scott/tiger@localhost') 
      
    # Now execute the sqlquery 
    cursor = con.cursor() 
      
    # Creating a table srollno heading which is number 
    cursor.execute("create table student(srollno number, \ 
                    name varchar2(10), efees number(10, 2)") 
                      
    print("Table Created successful") 
      
except cx_Oracle.DatabaseError as e: 
    print("There is a problem with Oracle", e) 
  
# by writing finally if any error occurs 
# then also we can close the all database operation 
finally: 
    if cursor: 
        cursor.close() 
    if con: 
        con.close()

In [ ]:
# Program to create a table in Oracle database 
import cx_Oracle 
  
try: 
  
    con = cx_Oracle.connect('scott/tiger@localhost') 
      
    # Now execute the sqlquery 
    cursor = con.cursor() 
    cursor.execute("insert into student values(19585, Niranjan Shukla, 72000") 
      
    # commit that insert the provided data 
    con.commit() 
      
    print("value inserted successful") 
  
except cx_Oracle.DatabaseError as e: 
    print("There is a problem with Oracle", e) 
  
# by writing finally if any error occurs 
# then also we can close the all database operation 
finally: 
    if cursor: 
        cursor.close() 
    if con: 
        con.close()

# Querying data using the Cursor.fetchone() method

In [ ]:
import cx_Oracle
import config
 
sql = 'select customer_id, name ' \
    'from customers ' \
    'order by name'
try:
    with cx_Oracle.connect(
                config.username,
                config.password,
                config.dsn,
                encoding=config.encoding) as connection:
        with connection.cursor() as cursor:
            cursor.execute(sql)
            while True:
                row = cursor.fetchone()
                if row is None:
                    break
                print(row)
except cx_Oracle.Error as error:
    print(error)

# #Performance

Even though the Cursor.fetchone() returns a single row at a time, it always retrieves data from Oracle Database in batches with the batch size defaults to Cursor.arraysize.

To improve the performance, you can tweak the value of Cursor.arraysize before calling the Cursor.execute() method.

Note that increasing the value of Cursor.arraysize help reduce the number of round-trips to the database. However, it increases the amount of memory required.

## Tuning Fetch Performance

For best performance, the cx_Oracle Cursor.arraysize value should be set before calling Cursor.execute(). The default value is 100. For queries that return a large number of rows, increasing arraysize can improve performance because it reduces the number of round-trips to the database. However increasing this value increases the amount of memory required. The best value for your system depends on factors like your network speed, the query row size, and available memory. An appropriate value can be found by experimenting with your application.

# REduce I/O
In many cx_Oracle applications, executing SQL and PL/SQL statements using the method cursor.execute() is perfect. But if you intend to execute the same statement repeatedly for a large set of data, your application can incur significant overhead, particularly if the database is on a remote network. The method cursor.executemany() gives you the ability to reduce network transfer costs and database load, and can significantly outperform repeated calls to cursor.execute().

# Handling Bad Data
    
When processing large amounts of data some of that data may not fit the constraints imposed by the database. 
Using cursor.execute()
This results in the following output:

Row 3 has error ORA-00001: unique constraint (EMDEMO.CHILDTABLE_PK) violated

Row 6 has error ORA-02291: integrity constraint (EMDEMO.CHILDTABLE_FK) violated - parent key not found
    
    
If you make use of cursor.executemany(), however, execution stops at the first error that is encountered:
    
    This results in the following output:

Row 3 has error ORA-00001: unique constraint (EMDEMO.CHILDTABLE_PK) violated

# Querying data using the Cursor.fetchmany() method
If you want to process rows in batches, you can use the Cursor.fetchmany() method. In this case, you pass the batch size to the Cursor.fetchmany() method. The batch size defaults to Cursor.arraysize:

In [ ]:
import cx_Oracle
import config
 
sql = 'select customer_id, name ' \
    'from customers ' \
    'order by name'
batch_size = 20
try:
    with cx_Oracle.connect(
            config.username,
            config.password,
            config.dsn,
            encoding=config.encoding) as connection:
        with connection.cursor() as cursor:
            # execute the SQL statement
            cursor.execute(sql)
            while True:
                # fetch rows
                rows = cursor.fetchmany(batch_size)
                if not rows:
                    break
                # display rows
                for row in rows:
                    print(row)
except cx_Oracle.Error as error:
    print(error)

# Querying data using the Cursor.fetchall() method
If the number of rows is small and can fit into the memory, you can use the Cursor.fetchall() method:

In [ ]:
import cx_Oracle
import config
 
sql = 'select customer_id, name ' \
    'from customers ' \
    'order by name'
 
try:
    # connect to the Oracle Database
    with cx_Oracle.connect(
            config.username,
            config.password,
            config.dsn,
            encoding=config.encoding) as connection:
        with connection.cursor() as cursor:
            # execute the SQL statement
            cursor.execute(sql)
            # fetch all rows
            rows = cursor.fetchall()
            if rows:
                for row in rows:
                    print(row)
except cx_Oracle.Error as error:
    print(error)

In [ ]:
sourceCursor = sourceConnection.cursor()
sourceCursor.arraysize = 1000
targetCursor = targetConnection.cursor()
targetCursor.arraysize = 1000

# perform fetch and bulk insertion
sourceCursor.execute("select * from MyTable")
while True:
    rows = sourceCursor.fetchmany()
    if not rows:
        break
    targetCursor.executemany("insert into MyTable values (:1, :2)", rows)
    targetConnection.commit()

In [ ]:

import cx_Oracle
import SampleEnv

connection = cx_Oracle.connect(SampleEnv.GetMainConnectString())

sql = """
        select * from SampleQueryTab
        where id < 6
        order by id"""

print("Get all rows via iterator")
cursor = connection.cursor()
for result in cursor.execute(sql):
    print(result)
print()

print("Query one row at a time")
cursor.execute(sql)
row = cursor.fetchone()
print(row)
row = cursor.fetchone()
print(row)
print()

print("Fetch many rows")
cursor.execute(sql)
res = cursor.fetchmany(numRows=3)
print(res)

# Batch Statement Execution and Bulk Loading
Inserting or updating multiple rows can be performed efficiently with Cursor.executemany(), making it easy to work with large data sets with cx_Oracle. This method can significantly outperform repeated calls to Cursor.execute() by reducing network transfer costs and database load. The executemany() method can also be used to execute PL/SQL statements multiple times at once.

In [ ]:
dataToInsert = [
    (10, 'Parent 10'),
    (20, 'Parent 20'),
    (30, 'Parent 30'),
    (40, 'Parent 40'),
    (50, 'Parent 50')
]
cursor.executemany("insert into ParentTable values (:1, :2)", dataToInsert)

# Loading CSV Files into Oracle Database

In [ ]:
import cx_Oracle
import csv

. . .

# Predefine the memory areas to match the table definition
cursor.setinputsizes(None, 25)

# Adjust the batch size to meet your memory and performance requirements
batch_size = 10000

with open('testsp.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    sql = "insert into test (id,name) values (:1, :2)"
    data = []
    for line in csv_reader:
        data.append((line[0], line[1]))
        if len(data) % batch_size == 0:
            cursor.executemany(sql, data)
            data = []
    if data:
        cursor.executemany(sql, data)
    con.commit()

# DataFrame to Oracle

cx_Oracle’s native database connection allows for one-way transactions only: Table data can be retrieved, but cannot be written. However, if we instead initialize our connection using SQLAlchemy, we allow for bi-directional i/o from the start, which can be very useful. This requires the SQLAlchemy library (which is included as part of the Anaconda distribution). The syntax to create a database connection with SQLAlchemy is:

In [ ]:
import cx_Oracle
from sqlalchemy import types, create_engine

conn = create_engine('oracle+cx_oracle://scott:tiger@host:1521/?service_name=hr')

df.to_sql('TEST', conn, if_exists='replace')

# Connecting Python to Oracle database via ODBC Driver

# Step 1: Connect


The pyodbc module is imported to provide the API for accessing Oracle database. The code uses the driver named "Devart ODBC Driver for Oracle" to connect to the remote database. Once a connection is established, you can perform CRUD operations on the database.

In [ ]:
import pyodbc 
    cnxn = pyodbc.connect('DRIVER={Devart ODBC Driver for Oracle};Direct=True;Host=myhost;Service Name=myservicename;User ID=myuserid;Password=mypassword')

# Step 2: Insert a row into Oracle table


Here's a simple example of how to execute an insert statement to test the connection to the database. The script inserts a new record to the EMP table.

In [ ]:
cursor = cnxn.cursor()
    cursor.execute("INSERT INTO EMP (EMPNO, ENAME, JOB, MGR) VALUES (535, 'Scott', 'Manager', 545)")

# Step 3: Retrieve data from Oracle table


The cursor.execute() function retrieves rows from the select query on a dataset. The cursor.fetchone() function iterates over the result set returned by cursor.execute() while the print() function prints out all records from the table to the console.

In [ ]:
 cursor = cnxn.cursor()	
    cursor.execute("SELECT * FROM EMP") 
    row = cursor.fetchone() 
    while row:
    	print (row) 
    	row = cursor.fetchone()

# cx_Oracle lets you to talk directly to the database engine writing SQL queries, and the SQLAlchemy's purpose is to let you to run queries without a single line of SQL.

If you're strong on Oracle's SQL and PL/SQL you should definitely go with cx_Oracle, you get a very high level of control on what you're asking the database to do; if you're handling a big amount of data, this gives you huge benefits on performance and fine-grained quieries.

If you don't know SQL and you're not willing to learn it (and it takes some time to master it properly), use SQLAlchemy.

https://cx-oracle.readthedocs.io/en/latest/user_guide/sql_execution.html