# Introduction to pandas

# 1.Install Pandas

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (0.25.3)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

### Importing libraries
We import the Pandas library and reference it as pd. The sys library will be used to check the system Python version

In [2]:
import pandas as pd
import sys

In [3]:
print('Python Version :' + sys.version)

Python Version :3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

In [4]:
print('Pandas Version :' + pd.__version__)

Pandas Version :0.25.3

# 2. What is pandas ?

#Pandas is the most popular python library that is used for data analysis. It provides highly optimized performance with back-end source code is purely written in C or Python.

###### To use pandas you need to first import the pandas module in your program

In [1]:
import pandas as pd #Now you can use pandas functions by pd.read_csv("path") etc..

<img src="Series.JPG">

# Series:
Series is one dimensional(1-D) array defined in pandas that can be used to store any data type

and an associated array of data labels, called its index.

Pandas Series is nothing but a column in an excel sheet.

Series object: an ordered, one-dimensional array of data with an index. All the data in a Series is of the

same data type. Series arithmetic is vectorised after first  aligning the Series index for each of the operands.

In [12]:
#Program to create series 
import pandas as pd  # Import Panda Library 
Data =[1, 3, 4, 5, 6, 2, 9]  # Numeric data 
Index=[]
# Create series with Data, and Index 
a = pd.Series(Data, index = Index)

Here, 

Data can be:

### A Scalar value which can be integerValue, string

### A Python Dictionary which can be Key, Value pair

### A Ndarray

# Create an Empty Series
A basic series, which can be created is an Empty Series.

In [5]:
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print (s)

Series([], dtype: float64)

In [6]:
data= ['Sunday', 
        'Monday', 
        'Tuesday', 
        'Wednesday', 
        'Thursday', 
        'Friday', 
        'Saturday']

In [7]:
week = pd.Series(data)

week

0       Sunday
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
dtype: object

In [8]:
type(week)

pandas.core.series.Series

### The string representation of a Series displayed interactively shows the index on the
left and the values on the right. Since we did not specify an index for the data, a
default one consisting of the integers 0 through N - 1 (where N is the length of the
data) is created. You can get the array representation and index object of the Series via
its values and index attributes, respectively:

In [16]:
week.values

array(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday'], dtype=object)

In [17]:
week.index

RangeIndex(start=0, stop=7, step=1)

#### Creating a Pandas Series from a Numpy array
Start by importing the Numpy library

In [8]:
import numpy as np
square_numbers = np.array([0, 1, 4, 9, 16, 
                           25, 36, 49, 64, 81, 
                           100, 121, 144, 169])

#### Create a Pandas Series from the Numpy array
The array index becomes the Series index by default

In [9]:
square_series = pd.Series(square_numbers)

square_series

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
11    121
12    144
13    169
dtype: int32

#### The index for a Series can be numeric or even text
We can define our own labels for the Series index

In [10]:
employee_fields = ['F_Name','L_Name','Emp_Id', 'Dept']

In [11]:
employee_data = ['Susie', 'Schneider', '2258788', 'Accounting']

#### Create the series from the two lists
One list becomes the index, the other is the data

In [12]:
employee_series = pd.Series(index = employee_fields, 
                            data = employee_data)

employee_series

F_Name         Susie
L_Name     Schneider
Emp_Id       2258788
Dept      Accounting
dtype: object

#### Creating a Series from a dictionary
The keys become the index while the values become the data. First create the dictionary

In [13]:
country_captitals_dict = {'Afghanistan' : 'Kabul',
                          'Australia' : 'Canberra',
                          'Bangladesh' : 'Dhaka',
                          'China' : 'Beijing',
                          'France' : 'Paris',
                          'India' : 'New Delhi',
                          'Italy' : 'Rome',
                          'USA' : 'Washington D.C.'
                         }

In [14]:
country_capitals_series = pd.Series(country_captitals_dict)

country_capitals_series

Afghanistan              Kabul
Australia             Canberra
Bangladesh               Dhaka
China                  Beijing
France                   Paris
India                New Delhi
Italy                     Rome
USA            Washington D.C.
dtype: object

#### The Series values can be accessed from the values property
This property is a Numpy array

In [15]:
country_capitals_series.values

array(['Kabul', 'Canberra', 'Dhaka', 'Beijing', 'Paris', 'New Delhi',
       'Rome', 'Washington D.C.'], dtype=object)

In [16]:
type(country_capitals_series.values)

numpy.ndarray

#### The Series index is available from the index property

In [17]:
country_capitals_series.index

Index(['Afghanistan', 'Australia', 'Bangladesh', 'China', 'France', 'India',
       'Italy', 'USA'],
      dtype='object')

#### The Series values can be accessed based on their position
Similar to an array/list

In [19]:
country_capitals_series[5]

'New Delhi'

#### Slicing the Series
Similar to Python lists, the Series can be sliced

In [22]:
country_capitals_series[0:6]

Afghanistan        Kabul
Australia       Canberra
Bangladesh         Dhaka
China            Beijing
France             Paris
India          New Delhi
dtype: object

#### Series values can be accessed using their index
Instead of numeric positions, the index labels can also be used to get the values for the Series

In [23]:
country_capitals_series['India']

'New Delhi'

#### To get multiple values, treat the Series as a 2-D list

In [26]:
country_capitals_series[['Afghanistan', 'France', 'India', 'USA']]

Afghanistan              Kabul
France                   Paris
India                New Delhi
USA            Washington D.C.
dtype: object

#### Create a Series from Scalar
If data is a scalar value, an index must be provided. The value will be repeated to match the length of index

In [11]:
# Program to Create series with scalar values  
Data =[1, 3, 4, 5, 6, 2, 9]  # Numeric data 
  
# Creating series with default index values 
s = pd.Series(Data)     
  
# predefined index values 
Index =['a', 'b', 'c', 'd', 'e', 'f', 'g']  
  
# Creating series with predefined index values 
si = pd.Series(Data, Index) 
si

a    1
b    3
c    4
d    5
e    6
f    2
g    9
dtype: int64

In [14]:
s1 = pd.Series(range(0,4)) # -> 0, 1, 2, 3
print(s1)
s2 = pd.Series(range(1,5)) # -> 1, 2, 3, 4
s3 = s1 + s2 # -> 1, 3, 5, 7
s4 = pd.Series(['a','b'])*3 # -> 'aaa','bbb'

0    0
1    1
2    2
3    3
dtype: int64

# DataFrame 
is a two-dimensional data structure akin to SQL table or Excel spreadsheet. 

It has columns ,rows and rows ,column index.

Its columns are made of separate Series objects. Let’s see an example:

#### Creating an empty DataFrame

In [27]:
empty_dataframe = pd.DataFrame()

In [28]:
print(empty_dataframe)

Empty DataFrame
Columns: []
Index: []

#### The DataFrame is populated with the list data
There is no column name while the rows are indexed with the list indices

In [ ]:
Data =[1, 3, 4, 5, 6, 2, 9]  # Numeric data

In [6]:
# Program to Create DataFrame 
import pandas as pd   # Import Library 
  
a = pd.DataFrame(Data,Index)  # Create DataFrame with Data

In [7]:
a

   0
a  1
b  3
c  4
d  5
e  6
f  2
g  9

Here, Data can be:

One or more dictionaries

One or more Series

2D-numpy Ndarray

list

#### Setting column headers
Set a column name which is meaningful and represents the data accurately

In [29]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

# Create a DataFrame from Dict of ndarrays / Lists

In [31]:
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

#### Create a DataFrame from Dict

In [8]:
# Program to Create Data Frame with two dictionaries 
dict1 ={'a':1, 'b':2, 'c':3, 'd':4}        # Define Dictionary 1 
dict2 ={'a':5, 'b':6, 'c':7, 'd':8, 'e':9} # Define Dictionary 2 
Data = {'first':dict1, 'second':dict2}  # Define Data with dict1 and dict2 
df = pd.DataFrame(Data)  # Create DataFrame

In [9]:
print(df)

   first  second
a    1.0       5
b    2.0       6
c    3.0       7
d    4.0       8
e    NaN       9

#### Column Selection

In [34]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

#### Column Deletion

In [36]:
#Live Demo
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

# Row Selection, Addition, and Deletion

#### Axes in DataFrame

### A DataFrame object has two axes: “axis 0” and “axis 1”. 

#### “axis 0” represents rows and “axis 1” represents columns.

In [37]:
import pandas as pd
s = pd.Series([1,3,6,8,9])
srs_b = pd.Series(['red', 'green', 'blue', 'white', 'black'])
df = pd.DataFrame({'a': s, 'b': srs_b})
print(df)

   a      b
0  1    red
1  3  green
2  6   blue
3  8  white
4  9  black

False
True
False
1

# Selection by Label
Rows can be selected by passing row label to a loc function.

In [38]:

import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [40]:
print(df.loc['d'])

one    NaN
two    4.0
Name: d, dtype: float64

# Selection by integer location
Rows can be selected by passing integer location to an iloc function.

In [43]:
print (df.iloc[3])

one    NaN
two    4.0
Name: d, dtype: float64

# Slice Rows
Multiple rows can be selected using ‘ : ’ operator.

In [46]:
print (df[1:4])

   one  two
b  2.0    2
c  3.0    3
d  NaN    4

# Operations

#### DataFrame has two axes, and “axis” parameter determines along which axis an operation should be performed. 

For example, 

#### .sum can be applied along “axis 0”. T

#### that means, .sum operation calculates a sum for each column:

In [48]:
import pandas as pd
srs_a = pd.Series([10,30,60,80,90])
srs_b = pd.Series([22, 44, 55, 77, 101])
df = pd.DataFrame({'a': srs_a, 'b': srs_b})
df

    a    b
0  10   22
1  30   44
2  60   55
3  80   77
4  90  101

In [49]:
df.sum(axis=0)

a    270
b    299
dtype: int64

In [9]:
#With axis=1 it produces a sum for each row:

df.sum(axis=1)

0     32
1     74
2    115
3    157
4    191
dtype: int64

In [50]:
#If you prefer regular names instead of numbers, each axis has a string alias. “axis 0” has two aliases: ‘index’ and ‘rows’. “axis 1” has only one: ‘columns’. You can use these aliases instead of numbers:

df.sum(axis='index')

a    270
b    299
dtype: int64

In [51]:
df.sum(axis='columns')

0     32
1     74
2    115
3    157
4    191
dtype: int64

In [52]:
df.sum(axis='rows')

a    270
b    299
dtype: int64

# Using .ix, .iloc, .loc to access a DataFrame

Dataframe.[ ] ; This function also known as indexing operator

Dataframe.loc[ ] : This function is used for labels.

Dataframe.iloc[ ] : This function is used for positions or integer based

Dataframe.ix[] : This function is used for both label and integer based -deprecated in Python 3

# Using .iloc
.iloc uses integers to read and write data to a DataFrame.
First, let's create a DataFrame:

In [53]:
df = pd.DataFrame({'one': [1, 2, 3, 4, 5],
 'two': [6, 7, 8, 9, 10],
 }, index=['a', 'b', 'c', 'd', 'e'])
df

   one  two
a    1    6
b    2    7
c    3    8
d    4    9
e    5   10

Now we can use .iloc to read and write values. Let's read the first row, first column:

In [57]:
print (df.iloc[1, 1])

7

In [56]:
#We can also set values. Lets set the second column, second row to something new:

In [59]:
df.iloc[1, 1] = '45'
df

   one two
a    1   6
b    2  45
c    3   8
d    4   9
e    5  10

# Using .loc
.loc uses labels to read and write data.

In [61]:
df = pd.DataFrame({'one': [1, 2, 3, 4, 5],
 'two': [6, 7, 8, 9, 10],
 }, index=['a', 'b', 'c', 'd', 'e'])
df

   one  two
a    1    6
b    2    7
c    3    8
d    4    9
e    5   10

In [62]:
df.loc['c', 'two'] = 33
df

   one  two
a    1    6
b    2    7
c    3   33
d    4    9
e    5   10

In [63]:
first =df.ix["a"]
print(first)

one    1
two    6
Name: a, dtype: int64

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

RangeIndex(start=0, stop=5, step=1)
Index(['a', 'b'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

In [64]:
## Playing with Dataframe
import numpy as np
df=pd.DataFrame(np.arange(0,20).reshape(5,4),
                index=['Row1','Row2','Row3','Row4','Row5'],
                columns=["Column1","Column2","Column3","Coumn4"])

In [66]:
## Check the type

type(df.loc['Row1'])

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Coumn4     3
Name: Row1, dtype: int32

In [67]:
df

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [70]:
df.tail(1)

      Column1  Column2  Column3  Coumn4
Row5       16       17       18      19

In [73]:
df.iloc[:,:]

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [76]:
## Take the elements from the Column2
df1=df.iloc[:,2:]

In [77]:
df1

      Column3  Coumn4
Row1        2       3
Row2        6       7
Row3       10      11
Row4       14      15
Row5       18      19

In [25]:
#convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [78]:
df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

# The index object: The pandas Index provides the axis
labels for the Series and DataFrame objects. It can only
contain hashable objects. A pandas Series has one
Index; and a DataFrame has two Indexes.

In [79]:
import pandas as pd
s = pd.Series([1,3,6,8,9])
s1 = pd.Series([9,8,7,2])
srs_b = pd.Series(['red', 'green', 'blue', 'white', 'black'])
df = pd.DataFrame({'a': s, 'b': srs_b})
print(df)

   a      b
0  1    red
1  3  green
2  6   blue
3  8  white
4  9  black

In [80]:
# --- get Index from Series and DataFrame
idx = s.index
print(idx)

idx = df.columns # the column index
print(idx)

idx = df.index # the row index
print(idx)


# --- some Index attributes
b = idx.is_monotonic_decreasing
print(b)

b = idx.is_monotonic_increasing
print(b)

b = idx.has_duplicates
print(b)
i = idx.nlevels # multi-level indexes
print(i)

RangeIndex(start=0, stop=5, step=1)
Index(['a', 'b'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
False
True
False
1

# Pandas Series.is_monotonic 

attribute return a boolean value. It returns True if the data in the given Series object is monotonically increasing else it return False.

In [81]:
# importing pandas as pd 
import pandas as pd 
  
# Creating the Series 
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon']) 
  
# Creating the row axis labels 
sr.index = ['City 1', 'City 2', 'City 3', 'City 4']  
  
# Print the series 
print(sr)

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
dtype: object

In [82]:
# check if monotonically increasing 
sr.is_monotonic

False

In [83]:
# importing pandas as pd 
import pandas as pd 
  
# Creating the Series 
sr = pd.Series(['1/1/2018', '2/1/2018', '3/1/2018', '4/1/2018']) 
  
# Creating the row axis labels 
sr.index = ['Day 1', 'Day 2', 'Day 3', 'Day 4'] 
  
# Print the series 
print(sr)

Day 1    1/1/2018
Day 2    2/1/2018
Day 3    3/1/2018
Day 4    4/1/2018
dtype: object

In [84]:
# check if monotonically increasing 
sr.is_monotonic

True

In [22]:
# --- some Index methods

i = idx.nunique() # number unique labels
print(i)
label = idx.min() # minimum label
print(label)
label = idx.max() # maximum label
print(label)

5
0
4

# Dropping NaN values
Let’s build a simple DataFrame with NaN values and observe how axis affects .dropna method:

In [14]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'a': [2, np.nan, 8, 3], 'b': [np.nan, 32, 15, 7], 'c': [-3, 5, 22, 19]})
df

     a     b   c
0  2.0   NaN  -3
1  NaN  32.0   5
2  8.0  15.0  22
3  3.0   7.0  19

In [15]:
df.dropna(axis=0)

     a     b   c
2  8.0  15.0  22
3  3.0   7.0  19

### Here .dropna filters out any row(we are moving along “axis 0”) which contains NaN value.

In [ ]:
#Let’s use “axis 1” direction:

In [16]:
df.dropna(axis=1)

    c
0  -3
1   5
2  22
3  19

# Concatenation
Concatenation function with axis=0 stacks the first DataFrame over the second:

In [17]:
import pandas as pd
df1 = pd.DataFrame({'a': [1,3,6,8,9], 'b': ['red', 'green', 'blue', 'white', 'black']})
df2 = pd.DataFrame({'a': [0,2,4,5,7], 'b': ['jun', 'jul', 'aug', 'sep', 'oct']})
pd.concat([df1, df2], axis=0)

   a      b
0  1    red
1  3  green
2  6   blue
3  8  white
4  9  black
0  0    jun
1  2    jul
2  4    aug
3  5    sep
4  7    oct

In [18]:
pd.concat([df1, df2], axis=1)

   a      b  a    b
0  1    red  0  jun
1  3  green  2  jul
2  6   blue  4  aug
3  8  white  5  sep
4  9  black  7  oct

In [29]:
# Define the new names of your columns
newcols = {
    'A': 'new_column_1', 
    'B': 'new_column_2', 
    'C': 'new_column_3'
}

# Use `rename()` to rename your columns
df.rename(columns=newcols, inplace=True)
df

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [30]:
# Rename your index
df.rename(index={1: 'a'})

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

# How To Iterate Over a Pandas DataFrame

In [56]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])

df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

# Iterating a DataFrame
Iterating a DataFrame gives column names. Let us consider the following example to understand the same.

In [15]:

import pandas as pd
import numpy as np
 
N=20
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })

df

            A     x         y       C           D
0  2016-01-01   0.0  0.513755    High  118.157335
1  2016-01-02   1.0  0.589659  Medium  109.422034
2  2016-01-03   2.0  0.078678    High  114.594951
3  2016-01-04   3.0  0.352367  Medium   90.387567
4  2016-01-05   4.0  0.372102    High   83.236592
5  2016-01-06   5.0  0.659005  Medium   91.978203
6  2016-01-07   6.0  0.733750    High  113.672835
7  2016-01-08   7.0  0.851927    High  105.664250
8  2016-01-09   8.0  0.032159  Medium   88.135713
9  2016-01-10   9.0  0.303715     Low  102.308442
10 2016-01-11  10.0  0.323126    High  103.445168
11 2016-01-12  11.0  0.263668     Low  101.830381
12 2016-01-13  12.0  0.063732  Medium   99.490104
13 2016-01-14  13.0  0.225223     Low   93.931649
14 2016-01-15  14.0  0.152163    High   93.190350
15 2016-01-16  15.0  0.310999    High  109.157907
16 2016-01-17  16.0  0.163394     Low  100.654359
17 2016-01-18  17.0  0.455682    High  101.502410
18 2016-01-19  18.0  0.487461  Medium  101.754562
19 2016-01-20  19.0  0.131035  Medium   81.902879

In [16]:
for col in df:
   print (col)

A
x
y
C
D

# iteritems()
Iterates over each column as key, value pair with label as key and column value as a Series object.

In [60]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
print(df)
for key,value in df.iteritems():
   print (key,value)
   print("")

       col1      col2      col3
0 -1.796110  0.905791 -1.729822
1  0.895263  0.773319 -0.046806
2  0.607498 -1.284278 -1.032918
3 -0.060451  0.241382  0.285731
col1 0   -1.796110
1    0.895263
2    0.607498
3   -0.060451
Name: col1, dtype: float64
col2 0    0.905791
1    0.773319
2   -1.284278
3    0.241382
Name: col2, dtype: float64
col3 0   -1.729822
1   -0.046806
2   -1.032918
3    0.285731
Name: col3, dtype: float64

# iterrows()
iterrows() returns the iterator yielding each index value along with a series containing the data in each row.

In [61]:

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(4,3),columns = ['col1','col2','col3'])
for row_index,row in df.iterrows():
   print (row_index,row)

0 col1    0.582559
col2    2.117374
col3   -1.422007
Name: 0, dtype: float64
1 col1   -0.656004
col2    0.720944
col3   -1.757269
Name: 1, dtype: float64
2 col1    0.313423
col2   -0.706071
col3   -0.964233
Name: 2, dtype: float64
3 col1   -0.713061
col2   -0.629597
col3   -0.693858
Name: 3, dtype: float64

In [57]:
for index, row in df.iterrows() :
    print(row['A'], row['B'])

1 2
4 5
7 8

# iterrows() allows you to efficiently loop over your DataFrame rows as (index, Series) pairs. In other words, it gives you (index, row) tuples as a result.

### Reading CSV and Excel sheets:

In [11]:
df.sum(axis='rows')

a    270
b    299
dtype: int64

##### d=pd.read_csv("path"):
 * pd.read_csv() is the function to read the CSV(Comma separated values) file from your computer.
 * In the function you have to pass "path" of the CSV file under quote.
 * Store the dataframe in any variable,here i stored it in variable "d".
 * read_csv() function makes the CSV file into dataframe so that you can access it just like a disctionary.

##### d=pd.read_excel("path") : 
 * It is same as the read_csv() but it reads  excel sheet or file.
Here i am using the weather dataset which has all the data of weather.
######  In my case,weather.csv file is in my current directory that is why the path of the file is file name itself.

In [2]:
d=pd.read_csv('datasets/weather.csv') 
# returning dataframe object
d
#printing dataframe d

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.
7,2006-04-01 07:00:00.000 +0200,Partly Cloudy,rain,8.772222,6.527778,0.89,14.1519,260.0,9.9820,0.0,1016.84,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.
9,2006-04-01 09:00:00.000 +0200,Partly Cloudy,rain,13.772222,13.772222,0.72,12.5258,279.0,9.9820,0.0,1017.22,Partly cloudy throughout the day.
10,2006-04-01 10:00:00.000 +0200,Partly Cloudy,rain,16.016667,16.016667,0.67,17.5651,290.0,11.2056,0.0,1017.42,Partly cloudy throughout the day.
11,2006-04-01 11:00:00.000 +0200,Partly Cloudy,rain,17.144444,17.144444,0.54,19.7869,316.0,11.4471,0.0,1017.74,Partly cloudy throughout the day.
12,2006-04-01 12:00:00.000 +0200,Partly Cloudy,rain,17.800000,17.800000,0.55,21.9443,281.0,11.2700,0.0,1017.59,Partly cloudy throughout the day.
13,2006-04-01 13:00:00.000 +0200,Partly Cloudy,rain,17.333333,17.333333,0.51,20.6885,289.0,11.2700,0.0,1017.48,Partly cloudy throughout the day.
14,2006-04-01 14:00:00.000 +0200,Partly Cloudy,rain,18.877778,18.877778,0.47,15.3755,262.0,11.4471,0.0,1017.17,Partly cloudy throughout the day.
15,2006-04-01 15:00:00.000 +0200,Partly Cloudy,rain,18.911111,18.911111,0.46,10.4006,288.0,11.2700,0.0,1016.47,Partly cloudy throughout the day.
16,2006-04-01 16:00:00.000 +0200,Partly Cloudy,rain,15.388889,15.388889,0.60,14.4095,251.0,11.2700,0.0,1016.15,Partly cloudy throughout the day.
17,2006-04-01 17:00:00.000 +0200,Mostly Cloudy,rain,15.550000,15.550000,0.63,11.1573,230.0,11.4471,0.0,1016.17,Partly cloudy throughout the day.
18,2006-04-01 18:00:00.000 +0200,Mostly Cloudy,rain,14.255556,14.255556,0.69,8.5169,163.0,11.2056,0.0,1015.82,Partly cloudy throughout the day.
19,2006-04-01 19:00:00.000 +0200,Mostly Cloudy,rain,13.144444,13.144444,0.70,7.6314,139.0,11.2056,0.0,1015.83,Partly cloudy throughout the day.
20,2006-04-01 20:00:00.000 +0200,Mostly Cloudy,rain,11.550000,11.550000,0.77,7.3899,147.0,11.0285,0.0,1015.85,Partly cloudy throughout the day.
21,2006-04-01 21:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.76,4.9266,160.0,9.9820,0.0,1015.77,Partly cloudy throughout the day.
22,2006-04-01 22:00:00.000 +0200,Partly Cloudy,rain,10.116667,10.116667,0.79,6.6493,163.0,15.8263,0.0,1015.40,Partly cloudy throughout the day.
23,2006-04-01 23:00:00.000 +0200,Mostly Cloudy,rain,10.200000,10.200000,0.77,3.9284,152.0,14.9569,0.0,1015.51,Partly cloudy throughout the day.
24,2006-04-10 00:00:00.000 +0200,Partly Cloudy,rain,10.422222,10.422222,0.62,16.9855,150.0,15.8263,0.0,1014.40,Mostly cloudy throughout the day.
25,2006-04-10 01:00:00.000 +0200,Partly Cloudy,rain,9.911111,7.566667,0.66,17.2109,149.0,15.8263,0.0,1014.20,Mostly cloudy throughout the day.
26,2006-04-10 02:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.80,10.8192,163.0,14.9569,0.0,1008.71,Mostly cloudy throughout the day.
27,2006-04-10 03:00:00.000 +0200,Partly Cloudy,rain,7.155556,5.044444,0.79,11.0768,180.0,15.8263,0.0,1014.47,Mostly cloudy throughout the day.
28,2006-04-10 04:00:00.000 +0200,Partly Cloudy,rain,6.111111,4.816667,0.82,6.6493,161.0,15.8263,0.0,1014.45,Mostly cloudy throughout the day.
29,2006-04-10 05:00:00.000 +0200,Partly Cloudy,rain,6.788889,4.272222,0.83,13.0088,135.0,14.9569,0.0,1014.49,Mostly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96423,2016-09-08 18:00:00.000 +0200,Partly Cloudy,rain,27.800000,27.050000,0.32,3.0751,120.0,16.1000,0.0,1014.04,Partly cloudy starting overnight.
96424,2016-09-08 19:00:00.000 +0200,Partly Cloudy,rain,24.905556,24.905556,0.51,0.0000,0.0,16.1000,0.0,1014.14,Partly cloudy starting overnight.
96425,2016-09-08 20:00:00.000 +0200,Partly Cloudy,rain,22.366667,22.366667,0.58,3.3327,135.0,15.5526,0.0,1014.34,Partly cloudy starting overnight.
96426,2016-09-08 21:00:00.000 +0200,Mostly Cloudy,rain,21.016667,21.016667,0.64,3.2200,340.0,16.1000,0.0,1014.73,Partly cloudy starting overnight.
96427,2016-09-08 22:00:00.000 +0200,Partly Cloudy,rain,19.927778,19.927778,0.71,3.1556,302.0,16.1000,0.0,1014.63,Partly cloudy starting overnight.
96428,2016-09-08 23:00:00.000 +0200,Partly Cloudy,rain,18.350000,18.350000,0.77,3.2200,53.0,15.5526,0.0,1014.68,Partly cloudy starting overnight.
96429,2016-09-09 00:00:00.000 +0200,Partly Cloudy,rain,17.755556,17.755556,0.81,2.9624,12.0,16.1000,0.0,1014.65,Partly cloudy starting in the morning.
96430,2016-09-09 01:00:00.000 +0200,Clear,rain,16.622222,16.622222,0.87,3.4293,349.0,16.1000,0.0,1014.56,Partly cloudy starting in the morning.
96431,2016-09-09 02:00:00.000 +0200,Clear,rain,16.144444,16.144444,0.87,3.6547,16.0,15.1501,0.0,1014.69,Partly cloudy starting in the morning.
96432,2016-09-09 03:00:00.000 +0200,Clear,rain,15.594444,15.594444,0.87,3.2844,41.0,15.4399,0.0,1014.52,Partly cloudy starting in the morning.
96433,2016-09-09 04:00:00.000 +0200,Clear,rain,15.011111,15.011111,0.93,3.2039,341.0,15.8263,0.0,1014.37,Partly cloudy starting in the morning.
96434,2016-09-09 05:00:00.000 +0200,Clear,rain,15.016667,15.016667,0.90,2.7048,359.0,14.9569,0.0,1014.55,Partly cloudy starting in the morning.
96435,2016-09-09 06:00:00.000 +0200,Clear,rain,13.872222,13.872222,0.93,4.7495,0.0,15.8263,0.0,1014.66,Partly cloudy starting in the morning.
96436,2016-09-09 07:00:00.000 +0200,Clear,rain,16.072222,16.072222,0.88,2.7853,12.0,15.7297,0.0,1015.25,Partly cloudy starting in the morning.
96437,2016-09-09 08:00:00.000 +0200,Partly Cloudy,rain,19.561111,19.561111,0.75,3.7191,12.0,14.9569,0.0,1015.28,Partly cloudy starting in the morning.
96438,2016-09-09 09:00:00.000 +0200,Partly Cloudy,rain,22.138889,22.138889,0.65,7.7763,30.0,16.1000,0.0,1015.46,Partly cloudy starting in the morning.
96439,2016-09-09 10:00:00.000 +0200,Partly Cloudy,rain,22.872222,22.872222,0.59,6.4239,49.0,16.1000,0.0,1015.65,Partly cloudy starting in the morning.
96440,2016-09-09 11:00:00.000 +0200,Partly Cloudy,rain,27.072222,27.022222,0.42,12.0106,49.0,15.5526,0.0,1015.44,Partly cloudy starting in the morning.
96441,2016-09-09 12:00:00.000 +0200,Partly Cloudy,rain,28.866667,28.216667,0.37,13.9265,61.0,16.1000,0.0,1015.35,Partly cloudy starting in the morning.
96442,2016-09-09 13:00:00.000 +0200,Partly Cloudy,rain,30.994444,29.972222,0.33,15.6170,70.0,16.1000,0.0,1014.86,Partly cloudy starting in the morning.
96443,2016-09-09 14:00:00.000 +0200,Partly Cloudy,rain,30.894444,29.450000,0.28,14.7798,43.0,15.5526,0.0,1014.66,Partly cloudy starting in the morning.
96444,2016-09-09 15:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.616667,0.28,15.5043,40.0,16.1000,0.0,1014.17,Partly cloudy starting in the morning.
96445,2016-09-09 16:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.611111,0.28,13.8943,40.0,16.1000,0.0,1013.97,Partly cloudy starting in the morning.
96446,2016-09-09 17:00:00.000 +0200,Partly Cloudy,rain,30.766667,29.311111,0.28,14.2163,24.0,15.5526,0.0,1013.83,Partly cloudy starting in the morning.
96447,2016-09-09 18:00:00.000 +0200,Partly Cloudy,rain,28.838889,27.850000,0.32,12.2038,21.0,16.1000,0.0,1014.07,Partly cloudy starting in the morning.
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

#### How many rows ?

In [5]:
print(len(d))
# there are 96453 rows

96453

### Getting first n-rows of dataset
  * To see the first five rows call head() function with dataframe object. <br>
      for example-  
      <code> d.head() </code> <br>
  * If you want to view first n-rows <br>
      <code> d.head(n) </code>

In [6]:
d.head() # first five rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [7]:
d.head(9) # to print first n=9 rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
5,2006-04-01 05:00:00.000 +0200,Partly Cloudy,rain,9.222222,7.111111,0.85,13.9587,258.0,14.9569,0.0,1016.66,Partly cloudy throughout the day.
6,2006-04-01 06:00:00.000 +0200,Partly Cloudy,rain,7.733333,5.522222,0.95,12.3648,259.0,9.9820,0.0,1016.72,Partly cloudy throughout the day.
7,2006-04-01 07:00:00.000 +0200,Partly Cloudy,rain,8.772222,6.527778,0.89,14.1519,260.0,9.9820,0.0,1016.84,Partly cloudy throughout the day.
8,2006-04-01 08:00:00.000 +0200,Partly Cloudy,rain,10.822222,10.822222,0.82,11.3183,259.0,9.9820,0.0,1017.37,Partly cloudy throughout the day.

### Getting last n-rows of dataset
  * Call the tail() function <br>
     <code> d.tail() </code> <br>
It will show only last five rows of dataframe d. <br>
  * If you want to see last n-rows - <br>
     <code> d.tail(n) </code>

In [8]:
d.tail() #last five rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [9]:
d.tail(9) # last 9 rows

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96444,2016-09-09 15:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.616667,0.28,15.5043,40.0,16.1000,0.0,1014.17,Partly cloudy starting in the morning.
96445,2016-09-09 16:00:00.000 +0200,Partly Cloudy,rain,31.083333,29.611111,0.28,13.8943,40.0,16.1000,0.0,1013.97,Partly cloudy starting in the morning.
96446,2016-09-09 17:00:00.000 +0200,Partly Cloudy,rain,30.766667,29.311111,0.28,14.2163,24.0,15.5526,0.0,1013.83,Partly cloudy starting in the morning.
96447,2016-09-09 18:00:00.000 +0200,Partly Cloudy,rain,28.838889,27.850000,0.32,12.2038,21.0,16.1000,0.0,1014.07,Partly cloudy starting in the morning.
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

### Slicing in the dataframe
 * Suppose you want to get 10 rows of the dataframe ranging from row 20 to 30. <br>
   <code> d[20<b>:</b>30+1] </code>

In [10]:
d[20:31]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
20,2006-04-01 20:00:00.000 +0200,Mostly Cloudy,rain,11.550000,11.550000,0.77,7.3899,147.0,11.0285,0.0,1015.85,Partly cloudy throughout the day.
21,2006-04-01 21:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.76,4.9266,160.0,9.9820,0.0,1015.77,Partly cloudy throughout the day.
22,2006-04-01 22:00:00.000 +0200,Partly Cloudy,rain,10.116667,10.116667,0.79,6.6493,163.0,15.8263,0.0,1015.40,Partly cloudy throughout the day.
23,2006-04-01 23:00:00.000 +0200,Mostly Cloudy,rain,10.200000,10.200000,0.77,3.9284,152.0,14.9569,0.0,1015.51,Partly cloudy throughout the day.
24,2006-04-10 00:00:00.000 +0200,Partly Cloudy,rain,10.422222,10.422222,0.62,16.9855,150.0,15.8263,0.0,1014.40,Mostly cloudy throughout the day.
25,2006-04-10 01:00:00.000 +0200,Partly Cloudy,rain,9.911111,7.566667,0.66,17.2109,149.0,15.8263,0.0,1014.20,Mostly cloudy throughout the day.
26,2006-04-10 02:00:00.000 +0200,Mostly Cloudy,rain,11.183333,11.183333,0.80,10.8192,163.0,14.9569,0.0,1008.71,Mostly cloudy throughout the day.
27,2006-04-10 03:00:00.000 +0200,Partly Cloudy,rain,7.155556,5.044444,0.79,11.0768,180.0,15.8263,0.0,1014.47,Mostly cloudy throughout the day.
28,2006-04-10 04:00:00.000 +0200,Partly Cloudy,rain,6.111111,4.816667,0.82,6.6493,161.0,15.8263,0.0,1014.45,Mostly cloudy throughout the day.
29,2006-04-10 05:00:00.000 +0200,Partly Cloudy,rain,6.788889,4.272222,0.83,13.0088,135.0,14.9569,0.0,1014.49,Mostly cloudy throughout the day.
30,2006-04-10 06:00:00.000 +0200,Mostly Cloudy,rain,7.261111,5.155556,0.85,11.1734,141.0,6.1985,0.0,1014.52,Mostly cloudy throughout the day.

### Accesing the particular column of dataframe :
 * You can access the particular column of the dataframe just my mentioning its name under quote with dataframe d.<br>
    for example you want to access Humidity column e.i, <br>
    
    <code> d['Humidity'] </code>

In [11]:
d['Humidity'].head(10) 
#Here i have applied head() function just to see only first 10 values because humidity 
#column has too many values

0    0.89
1    0.86
2    0.89
3    0.83
4    0.83
5    0.85
6    0.95
7    0.89
8    0.82
9    0.72
Name: Humidity, dtype: float64

### Finding min, max and average of a column:
  * <b>min() :</b> To find minimum of a column
  * <b>max() :</b> To find maximum of a column <br>
  * <b>mean() :</b> To find average of a column <br>
  
Find minimum and maximum of Humidity column-

In [12]:
d['Humidity'].min() 
#Printing minimum value of Humidity

0.0

In [13]:
d['Humidity'].max()
#Print maximum value Humidity

1.0

In [19]:
d['Humidity'].mean()
#Print average value Humidty

0.7348989663358906

### Conditional statements
  * <code>d["your column"]["your condition"] </code> <br>
   It will return all the values in which your condition holds true.
#### Examples : <br>
  * Find temp when Humidity is minimum<br>
  
    <code> d['Temperature(C)'][d['Humidity']==d['Humidity'].min() ]</code> <br><br>
    
  * Find temp when Humidity is maximum <br>
  
    <code> d['Temperature(C)'][d['Humidity']==d['Humidity'].max() ] </code>

In [16]:
 d['Temperature (C)'][d['Humidity']==d['Humidity'].min()]

19958    -1.111111
28101   -15.000000
28103   -15.555556
28110   -13.888889
29627     1.111111
54840   -15.555556
54858   -15.000000
54870   -16.111111
54872   -15.000000
54873   -13.888889
55086   -12.777778
55088   -12.777778
55349   -12.222222
55350   -12.222222
55352   -12.222222
55412   -17.777778
55469   -17.777778
55472   -17.777778
55473   -16.111111
55481   -12.777778
55508   -16.111111
55511   -17.777778
Name: Temperature (C), dtype: float64

In [17]:
 d['Temperature (C)'][d['Humidity']==d['Humidity'].max()]

319      11.972222
342       7.155556
390       7.688889
535       5.933333
536      10.405556
607       3.816667
822      14.516667
846      14.005556
1159     13.888889
1227     12.750000
1326     17.755556
1329     17.711111
1374     12.177778
1469      6.061111
1470      6.061111
1472      6.061111
1494      7.127778
1529      2.250000
1532      2.122222
1534      1.344444
1535      2.122222
1538      1.372222
1539      1.372222
1541      1.011111
1544      0.766667
1545      0.788889
1550      2.138889
1551      2.161111
1556      1.161111
1558      0.950000
           ...
93410     2.105556
93453     7.605556
93475     7.177778
93523     4.355556
93527     8.077778
93530     8.727778
93573    12.755556
93576    12.200000
93578    12.705556
93579    12.827778
93617    16.088889
93619    15.994444
93623    13.311111
93624    12.738889
93626    12.138889
93795    12.200000
93962    13.816667
95021     6.116667
95045     7.222222
95517    15.000000
95518    15.033333
95522    15.000000
95523    14.883333
95608    11.161111
95713     2.127778
95907    14.905556
96123     7.594444
96148     8.838889
96363    12.338889
96364    12.872222
Name: Temperature (C), Length: 2890, dtype: float64

###### In the same way you can apply various condition and analyse it hidden features

### Replacing NaN with specific value
 * Here i am replacing all NaN value with 0.

In [ ]:
d.fillna(0,inplace=True)