# There are two kinds of sorting available in Pandas. They are âˆ’

By label

By Actual Value

# By Label
Using the sort_index() method, by passing the axis arguments and the order of sorting, DataFrame can be sorted. 

By default, sorting is done on row labels in ascending order.

In [6]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col1','col2'])

unsorted_df

       col1      col2
1  0.431955 -0.723906
4 -0.334748  1.056987
6 -1.154097 -0.933309
2  0.182307 -0.215729
3  0.338028  0.100560
5 -1.504839 -0.875760
9 -1.651620  1.268524
8 -1.165289  0.203799
0  0.599874 -0.824032
7  0.416714 -0.114057

In [7]:
sorted_df=unsorted_df.sort_index()
print (sorted_df)

       col1      col2
0  0.599874 -0.824032
1  0.431955 -0.723906
2  0.182307 -0.215729
3  0.338028  0.100560
4 -0.334748  1.056987
5 -1.504839 -0.875760
6 -1.154097 -0.933309
7  0.416714 -0.114057
8 -1.165289  0.203799
9 -1.651620  1.268524

# Order of Sorting
By passing the Boolean value to ascending parameter, the order of the sorting can be controlled. 

Let us consider the following example to understand the same.

In [9]:
sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col1      col2
9 -1.651620  1.268524
8 -1.165289  0.203799
7  0.416714 -0.114057
6 -1.154097 -0.933309
5 -1.504839 -0.875760
4 -0.334748  1.056987
3  0.338028  0.100560
2  0.182307 -0.215729
1  0.431955 -0.723906
0  0.599874 -0.824032

# Sort the Columns

By passing the axis argument with a value 0 or 1, the sorting can be done on the column labels. By default, axis=0, sort by row. 

Let us consider the following example to understand the same.

In [11]:
import pandas as pd
import numpy as np
 
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
sorted_df=unsorted_df.sort_index(axis=1)
sorted_df

       col1      col2
1 -1.119204  0.882900
4  0.867558 -1.154893
6  2.156639 -0.031887
2 -1.570582 -0.569200
3 -0.142723  1.087089
5 -1.512193  2.679549
9 -0.694412 -1.022332
8  0.087035 -1.344828
0  0.198499 -2.726235
7  1.976163 -0.798406

# By Value

Like index sorting, sort_values() is the method for sorting by values. 

It accepts a 'by' argument which will use the column name of the DataFrame with which the values are to be sorted.

In [13]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df)   
sorted_df = unsorted_df.sort_values(by='col1')

sorted_df

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [14]:
nsorted_df = unsorted_df.sort_values(by=['col1','col2'])
nsorted_df

   col1  col2
2     1     2
1     1     3
3     1     4
0     2     1

# Sorting Algorithm

sort_values() provides a provision to choose the algorithm from mergesort, heapsort and quicksort. 

Mergesort is the only stable algorithm.

In [16]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df)
sorted_df = unsorted_df.sort_values(by='col1' ,kind='mergesort')
sorted_df

   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [1]:
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

print (df)

            Brand  Price  Year
0     Honda Civic  22000  2015
1  Toyota Corolla  25000  2013
2      Ford Focus  27000  2018
3         Audi A4  35000  2018

# Example 1: Sort Pandas DataFrame in an ascending order

In [3]:
# sort Brand - ascending order
df.sort_values(by=['Brand'], inplace=True)

print (df)

            Brand  Price  Year
3         Audi A4  35000  2018
2      Ford Focus  27000  2018
0     Honda Civic  22000  2015
1  Toyota Corolla  25000  2013

# Example 2: Sort Pandas DataFrame in a descending order

In [4]:

# sort Brand - descending order
df.sort_values(by=['Brand'], inplace=True, ascending=False)

print (df)

            Brand  Price  Year
1  Toyota Corolla  25000  2013
0     Honda Civic  22000  2015
2      Ford Focus  27000  2018
3         Audi A4  35000  2018

In [5]:
# sort by multiple columns: Year and Price
df.sort_values(by=['Year','Price'], inplace=True)

print (df)

            Brand  Price  Year
1  Toyota Corolla  25000  2013
0     Honda Civic  22000  2015
2      Ford Focus  27000  2018
3         Audi A4  35000  2018