# Use Case  –  Loan Approval 

       a)	Create a data frame  with  all Male customers, who are not graduates , whose loan is approved  
               and also get the Annual income and age of those customers
        
       b)    Final  Index  should be on Loan_ID
    
       c)    Impute missing values with appropriate measure use forward fill/backward fill/Generic
       
       d)    Let’s calculate the average spending score by Gender
            
       e)    Let’s calculate the average and total Loanamount by Property_Area .
        
       d)   Load back this data frame into excel with name Processed Loan

In [18]:
import pandas as pd
import numpy as np


try:
    customer = pd.read_csv("C:\Focus Training\Training\Customers.csv")
    print("Customer File is read succesful")
except:
    print("Customer Data Load Failure")
try:
    Loan = pd.read_csv("C:\Focus Training\Training\Loans.csv")
    print("Loan File is read successful")
except:
    print("Loan Data Load Failure")

Customer File is read succesful
Loan File is read successful

In [36]:
print(Loan.isnull())

     Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0      False   False    False       False      False          False
1      False   False    False       False      False          False
2      False   False    False       False      False          False
3      False   False    False       False      False          False
4      False   False    False       False      False          False
..       ...     ...      ...         ...        ...            ...
609    False   False    False       False      False          False
610    False   False    False       False      False          False
611    False   False    False       False      False          False
612    False   False    False       False      False          False
613    False   False    False       False      False          False

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0              False              False        True             False
1              False              False       False             False
2              False              False       False             False
3              False              False       False             False
4              False              False       False             False
..               ...                ...         ...               ...
609            False              False       False             False
610            False              False       False             False
611            False              False       False             False
612            False              False       False             False
613            False              False       False             False

     Credit_History  Property_Area  Loan_Status     ID
0             False          False        False  False
1             False          False        False  False
2             False          False        False  False
3             False          False        False  False
4             False          False        False  False
..              ...            ...          ...    ...
609           False          False        False  False
610           False          False        False  False
611           False          False        False  False
612           False          False        False  False
613           False          False        False  False

[614 rows x 14 columns]

In [30]:
print(customer)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [31]:
customer.count()

CustomerID                200
Genre                     200
Age                       200
Annual Income (k$)        200
Spending Score (1-100)    200
dtype: int64

In [33]:
customer.shape

(200, 5)

In [12]:
grouped = customer.groupby('Genre')
print (grouped.get_group('Male'))

     CustomerID Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1  Male   19                  15                      39
1             2  Male   21                  15                      81
8             9  Male   64                  19                       3
10           11  Male   67                  19                      14
14           15  Male   37                  20                      13
..          ...   ...  ...                 ...                     ...
187         188  Male   28                 101                      68
192         193  Male   33                 113                       8
197         198  Male   32                 126                      74
198         199  Male   32                 137                      18
199         200  Male   30                 137                      83

[88 rows x 5 columns]

In [ ]:
#Let’s calculate the average spending score by Gender

In [24]:
agg_group = customer.groupby('Genre')['Spending Score (1-100)'].mean()
agg_group

Genre
Female    51.526786
Male      48.511364
Name: Spending Score (1-100), dtype: float64

In [25]:
print(customer.head(5))
print(customer.columns)
print(customer.shape)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40
Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')
(200, 5)

In [ ]:
#Let’s calculate the average and total Loanamount by Property_Area .

In [17]:
import numpy as np
agg_group = Loan.groupby('Property_Area')['LoanAmount'].agg([np.mean,np.sum])
print(agg_group)

                     mean      sum
Property_Area
Rural          152.260116  26341.0
Semiurban      145.504386  33175.0
Urban          142.198953  27160.0

In [6]:
print(Loan.head(5))
print(Loan.columns)
print(Loan.shape)

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status  ID
0             1.0         Urban           Y   1
1             1.0         Rural           N   2
2             1.0         Urban           Y   3
3             1.0         Urban           Y   4
4             1.0         Urban           Y   5
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status',
       'ID'],
      dtype='object')
(614, 14)

In [26]:
#data frame  with  all Male customers, who are not graduates , whose loan is approved 
cfd=Loan.loc[(Loan["Gender"]=="Male") & (Loan["Education"]=="Not Graduate") & (Loan["Loan_Status"]=="Y"), ["Loan_ID","ID","Gender","Education",'LoanAmount',
       'Loan_Amount_Term',"Loan_Status"]]

In [27]:
print(cfd)

      Loan_ID    ID Gender     Education  LoanAmount  Loan_Amount_Term  \
3    LP001006     4   Male  Not Graduate       120.0             360.0
6    LP001013     7   Male  Not Graduate        95.0             360.0
16   LP001034    17   Male  Not Graduate       100.0             240.0
27   LP001073    28   Male  Not Graduate       110.0             360.0
39   LP001116    40   Male  Not Graduate       110.0             360.0
..        ...   ...    ...           ...         ...               ...
563  LP002821  5800   Male  Not Graduate       132.0             360.0
565  LP002833  4467   Male  Not Graduate       120.0             360.0
595  LP002940  3833   Male  Not Graduate       110.0             360.0
601  LP002950  2894   Male  Not Graduate       155.0             360.0
607  LP002964  3987   Male  Not Graduate       157.0             360.0

    Loan_Status
3             Y
6             Y
16            Y
27            Y
39            Y
..          ...
563           Y
565           Y
595           Y
601           Y
607           Y

[68 rows x 7 columns]

In [28]:
cfd.columns

Index(['Loan_ID', 'ID', 'Gender', 'Education', 'LoanAmount',
       'Loan_Amount_Term', 'Loan_Status'],
      dtype='object')

In [24]:
""" APPLY FUNCTION to check any missing values"""

def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print("\n\nMissing values per column:\n\n")
print(cfd.apply(num_missing, axis=0)) 
#axis=0 defines that function is to be applied on each column

#Applying per row:
print("\n\nMissing values per row:\n\n")
print(cfd.apply(num_missing, axis=1).head()) 
#axis=1 defines that function is to be applied on each row

Missing values per column:


Loan_ID        0
ID             0
Gender         0
Education      0
Loan_Status    0
dtype: int64


Missing values per row:


3     0
6     0
16    0
27    0
39    0
dtype: int64

In [25]:
#Get all Customer details with loan approved ids

data_merged = pd.merge(cfd,customer, how='inner',left_on='ID',right_on='CustomerID')

In [26]:
print(data_merged.shape)

(20, 10)

In [27]:
print(data_merged)

     Loan_ID   ID Gender     Education Loan_Status  CustomerID   Genre  Age  \
0   LP001006    4   Male  Not Graduate           Y           4  Female   23
1   LP001013    7   Male  Not Graduate           Y           7  Female   35
2   LP001034   17   Male  Not Graduate           Y          17  Female   35
3   LP001073   28   Male  Not Graduate           Y          28    Male   35
4   LP001116   40   Male  Not Graduate           Y          40  Female   20
5   LP001136   45   Male  Not Graduate           Y          45  Female   49
6   LP001199   60   Male  Not Graduate           Y          60    Male   53
7   LP001238   69   Male  Not Graduate           Y          69    Male   19
8   LP001245   72   Male  Not Graduate           Y          72  Female   47
9   LP001264   80   Male  Not Graduate           Y          80  Female   49
10  LP001280   87   Male  Not Graduate           Y          87  Female   55
11  LP001319   93   Male  Not Graduate           Y          93    Male   48
12  LP001325   95   Male  Not Graduate           Y          95  Female   32
13  LP001334   99   Male  Not Graduate           Y          99    Male   48
14  LP001345  101   Male  Not Graduate           Y         101  Female   23
15  LP001384  110   Male  Not Graduate           Y         110    Male   66
16  LP001439  125   Male  Not Graduate           Y         125  Female   23
17  LP001560  161   Male  Not Graduate           Y         161  Female   56
18  LP001581  171   Male  Not Graduate           Y         171    Male   40
19  LP001653  191   Male  Not Graduate           Y         191  Female   34

    Annual Income (k$)  Spending Score (1-100)
0                   16                      77
1                   18                       6
2                   21                      35
3                   28                      61
4                   37                      75
5                   39                      28
6                   46                      46
7                   48                      59
8                   49                      42
9                   54                      42
10                  57                      58
11                  60                      49
12                  60                      42
13                  61                      42
14                  62                      41
15                  63                      48
16                  70                      29
17                  79                      35
18                  87                      13
19                 103                      23

In [32]:
# setting Loan ID as index column 
data_merged.set_index("Loan_ID", inplace = True)

In [33]:
#Load the processed data
try:
    data_merged.to_excel("C:\Focus Training\Training\Processed Loan.xls")
    print("Data Load Sucessfull")
except:
    print("Data Load unSucessfull")

Data Load Sucessfull